.portfolioBackground {
    background: url('../Components/TestPhotos/PortfolioHeaderImage01.jpeg') center center/cover no-repeat;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(251, 236, 236, 0.64);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center; 
    /**/
}

.aboutBackground {
    background: url('../Components/TestPhotos/CroppedMilkyWay01.JPG') center center/cover no-repeat;
    background-position-x: center;
    background-position-y: 50%;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(152, 126, 174, 0.634);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center; 
}

.blogBackground {
    background: url('../Components/TestPhotos/AboutHeaderImage01.JPG') center center/cover no-repeat;
    background-position: 75% 20%;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(97, 104, 126, 0.579);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.mathBackground{
    background: url('../Components/TestPhotos/MathHeaderImage01.png') center center/cover no-repeat;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(251, 236, 236, 0.64);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center; 
}

.physicsBackground{
    background: url('../Components/TestPhotos/PhysicsHeaderImage02.png') center center/cover no-repeat;
    background-position-y: 27.5%;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(251, 236, 236, 0.5);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center; 
    /**/
}

.musicBackground{
    background: url('../Components/TestPhotos/MusicHeaderImage01.png') center center/cover no-repeat;
    height: 25vh;
    box-shadow: inset 0 0 0 1000px rgba(251, 236, 236, 0.64);
    /* The 3 lines below position the text in the very center (vertical height)*/
    display: flex;
    flex-direction:column;
    justify-content: center; 
}

/*Section Title*/
.title > h1 {
    text-align:center;
    font-size: 4rem;
}

/*Section Subtitle*/
.title > p {
    text-align:center;
    font-size:     2rem;
    margin-top:    10px;
    margin-bottom: 10px;
    margin-left:   10px;
    margin-right:  10px;
}
